body {
  font-family: Arial;
  background: #1e1e1e;
  color: white;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}
header {
  background: #2c2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
}
header .logo {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  /* font-size: 1.5rem; */
  /* font-weight: bold; */
  /* background: url('Imagenes/logo-header.webp') no-repeat center center/cover; */
}
header img {
  height: 40px;
}
.titulo {
  text-align: center;
}

#formulario {
  background: #2c2c2c;
  padding: 15px;
  border-radius: 10px;
  /* margin-bottom: 10px; */
  display: flex;
  position: relative;
  order: 1;
}

.cargaClientes,
.editaClientes {
  position: relative;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 8px;
  border: 1px solid #888;
  border-radius: 8px;
}

#comida,
#editaComida,
#seña,
#editaSeña,
#editaElimina {
  width: unset;
}

.comida,
.seña,
.elimina {
  display: flex;
  align-items: center;
}

.elimina {
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 55px;
  width: fit-content;
}

input {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 80%;
}

label {
  width: 80%;
  margin: auto auto auto 47px;
}

.actualizar,
.guardar {
  width: 20%;
  padding: 8px;
  border-radius: 8px;
}

button {
  background: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

.actualizar.active {
  background: #28a745;
  cursor: pointer;
}

.actualizar.desactive {
  background: #888;
  cursor: wait;
}

#lista {
  /* display: flex; */
  /* flex-direction: column; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

#lista2 {
  /* display: flex; */
  /* flex-direction: column; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}
.datosVisibles {
  /* color: #c04005; */
  color: #ff5000;
}
.datosTitulos {
  color: #152ed9;
  font-size: 0.8em;
}
.reservasVisibles {
  /* color: #c04005; */
  color: #ff0000;
}
.reservasTitulos {
  color: #5300a1;
  /* font-size: 0.8em; */
}
.reservasContainer h2 {
  color: #5300a1;
}
#card {
  background: #333;
  padding: 10px;
  border-radius: 8px;
  position: relative;
}

#card.selected {
  /* background: #152ed9; */
  background: #888;
}
.divcontainer {
  display: flex;
  flex-direction: column;
  position: relative;
}
.btnelimina {
  position: absolute;
  /* width: 30%; */
  /* font-size: 1.2em; */
  border-radius: 8px;
  padding: 8px;
  right: 10px;
  bottom: 10px;
}
.recargar {
  position: absolute;
  width: fit-content;
  /* font-size: 1.2em; */
  border-radius: 8px;
  /* padding: 2px; */
  /* right: 10px; */
  /* bottom: 10px; */
  left: 0;
  margin: auto;
  right: 0;
  /* bottom: 0; */
  top: 0;
  font-size: 10px;
}
.elCliente {
  margin: 0;
  /* width: 50%; */
  text-align: center;
  color: #00ff3a;
  font-size: 1em;
}
/* #formulario {
  order: 1;
} */
.listaContainer {
  order: 2;
  margin-bottom: 10px;
}
.listaContainer2 {
  order: 2;
  margin-bottom: 10px;
}

.fechasGoogle {
  order: 3;
  background: #2c2c2c;
  border-radius: 10px;
  padding: 15px;
}

.clienteNuevo,
.clienteSel,
.fechasCalendar {
  margin: 5px 0;
  font-size: 1.2em;
}
.imgContainer {
  position: absolute;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100%;
  width: 100%;
}
.imgContainer img {
  /* position: relative; */
  width: 40%;
}

.cargaClientes .imgContainer,
.editaClientes .imgContainer {
  width: 30%;
  left: 0;
  height: unset;
  justify-content: unset;
}
#fechas {
  font-size: 1.2em;
}
#btnOcultas {
  font-size: 0.9em;
  border-radius: 8px;
  padding: 8px;
  margin-top: 10px;
}
@media only screen and (min-width: 360px) and (max-width: 1154px) {
  header {
    margin-bottom: 10px;
  }
  header .logo {
    gap: 10px;
  }
  /* #formulario {
    order: 2;
  } */
  .listaContainer {
    order: 2;
    margin-bottom: 30px;
  }
  .listaContainer2 {
    order: 1;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  /* .imgContainer img {
    width: 40%;
  } */
  #formulario {
    /* flex-direction: column; */
    gap: 10px;
    margin-bottom: 10px;
    order: 3;
  }
  .cargaClientes,
  .editaClientes {
    width: unset;
    margin: unset;
    padding: unset;
    /* margin-bottom: 10px; */
  }
  .cargaClientes .imgContainer,
  .editaClientes .imgContainer {
    width: 80%;
    right: 0;
    bottom: 0;
    left: unset;
    /* height: unset; */
    justify-content: right;
  }
  #card {
    position: relative;
    background: #333;
    padding: 10px;
    border-radius: 8px;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* width: 100%; */
    border: 1px solid #888;
    /* margin: auto; */
    font-size: 2em;
  }
  #lista2 #card {
    font-size: 1.5em;
  }
  #lista {
    background: #2c2c2c;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  #lista2 {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  #lista2 .datosTitulos {
    color: #152ed9;
    font-size: 1em;
  }
  .datosVisibles {
    /* color: #c04005; */
    color: #ff5000;
  }
  .datosTitulos {
    color: #152ed9;
    font-size: 1.5em;
  }
  .reservasVisibles {
    /* color: #c04005; */
    color: #ff0000;
  }
  .reservasTitulos {
    color: #5300a1;
    font-size: 1.5em;
  }
  .clienteNuevo,
  .clienteSel,
  .fechasCalendar {
    /* margin: 5px 0; */
    font-size: 2em;
    text-align: center;
  }
  label {
    font-size: 1.8em;
    margin: unset;
    width: 90%;
  }
  input {
    font-size: 2em;
    width: 90%;
  }
  .elimina {
    left: 10px;
    bottom: 5px;
  }
  .actualizar,
  .guardar {
    font-size: 2em;
    width: fit-content;
    margin-top: 5px;
    margin: 10px;
  }
  #btnOcultas {
    font-size: 2em;
    border-radius: 8px;
    padding: 8px;
  }
  .btnelimina {
    position: absolute;
    /* width: 30%; */
    font-size: 1.2em;
    border-radius: 8px;
    padding: 8px;
    right: 30px;
    top: unset;
    bottom: 10px;
    font-weight: bold;
  }
  .titulo {
    font-size: 3em;
  }
  .elCliente {
    margin: 0;
    /* width: 50%; */
    text-align: center;
    color: #00ff3a;
    font-size: 1.8em;
  }
  .divcontainer {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* width: 50%; */
    margin: auto;
    text-align: left;
  }
  .divcontainer span {
    width: 80%;
  }
  .recargar {
    top: -30px;
    font-size: 2em;
  }
  .reservasContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    font-size: 2em;
  }
  .reservasContainer h2,
  .reservasContainer h3 {
    margin: 0;
  }
  #fechas {
    font-size: 2.5em;
  }
  .fechasGoogle {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 0;
  }
  #formFechas {
    width: 80%;
    text-align: center;
  }
  .top {
    position: fixed;
    display: flex;
    /* justify-content: right; */
    width: 5vh;
    height: 5vh;
    /* left: 0; */
    right: 40px;
    bottom: 20px;
    z-index: 10;
  }
  #myBtn {
    display: none;
    position: relative;
    height: inherit;
    width: inherit;
    /* right: 80px; */
    padding: 20px;
    border: 1px solid #333;
    border-radius: 50px;
    background: #333333eb
      url("https://cdn-icons-png.flaticon.com/512/5290/5290862.png") no-repeat
      center/contain;
    color: white;
    font-size: 18px;
    z-index: 10;
  }
}
